!.vscode/extensions.json
!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
.apt_generated
.cache/
.classpath
.DS_Store
.DS_Store?
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.factorypath
.firebase/
.idea
.idea
.idea/
.jest/
.mtj.tmp/
.mvn/wrapper/maven-wrapper.jar
.netlify/
.next/
.node_repl_history
.node_repl_history
.npm
.nyc_output/
.parcel-cache/
.pnp.*
.project
.rollup.cache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.settings
.Spotlight-V100
.springBeans
.sts4-cache
.stylelintcache
.tern-port
.Trashes
.vercel/
.vite/
.vscode-test
.vscode/
.vscode/*
.webpack/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.lcov
*.log
*.log
*.nar
*.njsproj
*.ntvs*
*.pid
*.pid.lock
*.rar
*.seed
*.sln
*.suo
*.sw?
*.swo
*.swp
*.tar.gz
*.tgz
*.tgz
*.tsbuildinfo
*.war
*.zip
*~
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
build/
coverage/
Desktop.ini
dist/
ehthumbs.db
firebase-debug.log
firestore-debug.log
HELP.md
hs_err_pid*
lerna-debug.log*
logs
node_modules/
npm-debug.log*
out/
pids
pnpm-debug.log*
replay_pid*
storybook-static/
target/
temp/
Thumbs.db
tmp/
yarn-debug.log*
yarn-error.log*
yarn.lock
